/* line 1, ../scss/test.scss */
.sulu-breadcrumb {
  padding-bottom: 5px;
}
/* line 5, ../scss/test.scss */
.sulu-breadcrumb .breadcrumb {
  cursor: pointer;
  font-size: small;
  color: grey;
}
/* line 11, ../scss/test.scss */
.sulu-breadcrumb .breadcrumb:hover, .sulu-breadcrumb .breadcrumb:hover .icon {
  color: black;
}
/* line 16, ../scss/test.scss */
.sulu-breadcrumb .icon {
  color: gray;
  font-size: 9px;
  margin-right: 5px;
}
/* line 22, ../scss/test.scss */
.sulu-breadcrumb .separator {
  display: inline-block;
  margin: 0 10px 0 5px;
  font-size: 9px;
  color: black;
}
